@page "/UserMainPage/{Username}/{Password}"
@inherits UserMainPageBase


@if (User == null && Turns == null)
{
    <SpinnerDisplay />
}
else if (ErrorMessage != null)
{
    <h2 style="color:red;font-weight:bolder;font-size:2rem;text-align:center;">
        @ErrorMessage
    </h2>
}
else
{
    <div class="area">
        <div class="sidebar">
            <h2 class="title"> Give Turn </h2>
            <hr />
            <a href="/"><span class="oi oi-home"> Home </span></a>
            <a href="/Login"><span class="oi oi-timer"> Give Turn </span></a>
            <a href="/SignUp"><span class="oi oi-person"> Setting </span></a>
        </div>

        <div class="content">
            <div class="title">
                <h2>
                    Wellcome @Username
                </h2>
            </div>

            @if (IsTurnToday)
            {
                <h2 class="TodayTurn">
                    You have turn today in @TodayTurn.Hour : @TodayTurn.Minute
                </h2>
            }

            <br />
            <div class="turns">
                <TurnsDisplay UserTurns="Turns"></TurnsDisplay>
            </div>
        </div>
    </div>
}
