@page "/UserMainPage/{Username}/{Password}"
@inherits UserMainPageBase


@if (User == null && Turns == null)
{
    <SpinnerDisplay />
}
else if(ErrorMessage != null)
{
    <h2 style="color:red;font-weight:bolder;font-size:2rem;text-align:center;">
        @ErrorMessage
    </h2>
}
else
{
    <div class="area">
        <div class="title">
            Wellcome @Username
        </div>
        <div class="turns">
            <TurnsDisplay UserTurns="Turns"></TurnsDisplay>
        </div>
    </div>
}
