@page "/Setting/{Username}/{Password}"
@inherits SettingBase

@if (User == null && ErrorMessage == null)
{
    <SpinnerDisplay />
}

else if (ErrorMessage != null)
{
    <h2 class="ErrorMessage">
        @ErrorMessage
    </h2>
}

else
{
    <div class="area">
        <div class="sidebar">
            <h2 class="title"> Give Turn </h2>
            <hr />
            <a @onclick="()=> Update_Click()"><span class="oi oi-info"> Change Your info </span></a>
            <a @onclick="() => DeleteTurns_Click()"><span class="oi oi-pencil"> Delete My Turns </span></a>
            <a @onclick="() => DeleteAccount_Click()"><span class="oi oi-trash"> Delete Account </span></a>
        </div>
        <div class="spec">
            <h2 class="specPartTitle">
                Your Specs
            </h2>

            <h3 class="specPart">
                Your Username : <input @bind="@User.Username" type="text" readonly />
            </h3>

            <h3 class="specPart">
                Your Password : <input @bind="@User.Password" type="password" readonly />
            </h3>

            <h3 class="specPart">
                Your Phone Number : <input @bind="@User.PhoneNumber" type="text" readonly />
            </h3>
        </div>
    </div>
}
