.title {
    margin: 0;
    padding-top: 20px;
}

.content {
    height: 100%;
    width: 80%;
}

.sidebar {
    margin-right: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(39, 39, 39);
    position: fixed;
    height: 100%;
    overflow: auto;
}

    .sidebar a {
        display: block;
        color: rgb(255, 255, 255,0.7);
        padding: 16px;
        text-decoration: none;
        font-family: 'Bookman Old Style';
        font-size: 1.2rem;
    }

        .sidebar a.active {
            background-color: #04AA6D;
            color: white;
        }

        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }

    p {
        padding-left: 20px
    }

    h3 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
